.burger {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.burgerBox {
    width: 264px;
    height: 348px;
    background-color: #2B4241;
    border-radius: 40px;
    margin: 70px 32px 25px 0;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: #fff;
}

.burgerBox img {
    width: 200px;
    height: 142px;
    position: absolute;
    top: -50px;
}

.burgerBox p {
    font-size: 14px;
    line-height: 16px;
    margin: 8px 16px;
}

.burgerBtn button {
    width: 16px;
    color: #FF583E;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 24px 0 16px;
}

.redBtn button {
    width: 200px;
    height: 48px;
    background-color: #FF583E;
    border-radius: 40px;
    border: none;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}
