.mainPage {
    background-color: #FCFCFC;
    max-width: 1440px;
}

.mainPage_flex {
    display: flex;
    justify-content: center;
}

.mainTitle {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.mainTitle h1 {
    font-size: 36px;
    line-height: 42px;
    color: #254F4C;
    margin-top: 128px;
}

.mainTitle p {
    font-size: 16px;
    line-height: 24px;
    color: #1D3130;
    margin: 16px 0;
}

.mainTitle button {
    width: 216px;
    height: 49px;
    background-color: #FF583E;
    border-radius: 100px;
    border: none;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.mainTitle img {
    margin-left: 7px;
}

.active {
    color: #FF583E;
}

.burger {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.burgerBox {
    width: 264px;
    height: 348px;
    background-color: #2B4241;
    border-radius: 40px;
    margin: 70px 32px 25px 0;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: #fff;
}

.burgerBox img {
    position: absolute;
    top: -50px;
}

.burgerBox p {
    font-size: 14px;
    line-height: 16px;
    margin: 8px 16px;
}

.burgerBtn button {
    width: 16px;
    color: #FF583E;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 24px 0 16px;
}

.redBtn button {
    width: 200px;
    height: 48px;
    background-color: #FF583E;
    border-radius: 40px;
    border: none;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.menu {
    display: flex;
    justify-content: flex-start;
    padding: 20px 0 20px;
}

.sideBar {
    text-align: right;
    font-size: 14px;
    line-height: 16px;
    color: #1D3130;
}

.sideBar select {
    width: 160px;
    height: 40px;
    border: 1px solid #C4C4C4;
    margin-left: 8px;
    margin-right: 110px;
    cursor: pointer;
}

.pizzaFlex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pizzaBox {
    width: 264px;
    height: 348px;
    background-color: #fff;
    border-radius: 40px;
    margin-right: 32px;
    margin-top: 94px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: #254F4C;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pizzaBox img {
    position: absolute;
    top: -50px;
}

.pizzaBox p {
    font-size: 14px;
    line-height: 16px;
    margin: 8px 16px 0;
    color: #000;
}

p.price {
    font-size: 20px;
    line-height: 23px;
    color: #254F4C !important;
}

.pizzaBtn button {
    width: 16px;
    color: #FF583E;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 24px 0 16px;
}

.blueBtn button {
    width: 200px;
    height: 48px;
    background-color: #254F4C;
    border-radius: 40px;
    border: none;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.showBtn {
    display: flex;
    justify-content: center;
}

.showBtn button {
    width: 200px;
    height: 48.3px;
    background-color: transparent;
    border: 1px solid #FF583E;
    border-radius: 40px;
    color: #FF583E;
    text-transform: uppercase;
    margin-top: 43px;
    cursor: pointer;
}

.about {
    margin-top: 42px;
}

.aboutFlex {
    margin-top: 42px;
    display: flex;
    justify-content: center;
}

.aboutBox {
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #254F4C;
}

.aboutBox h3 {
    margin: 16px 0 8px;
    font-size: 20px;
    line-height: 23px;
}

.aboutBox p {
    margin: 0 16px;
    font-size: 14px;
    line-height: 16px;
    color: #1D3130;
}

.feedBack {
    margin-top: 56px;
}

.feedBackFlex {
    display: flex;
    justify-content: center;
}

.feedBackBox {
    width: 248px;
    height: 325px;
    border: 2px solid #1D3130;
    border-radius: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    color: #3B7976;
    margin: 49px 34px 88px 0;
}

img.absolute {
    position: absolute;
    top: -2px;
    left: -10px;
}

.avatar {
    margin: 24px 0 8px;
    width: 100px;
    height: 100px;
}

.feedBackUser {
    display: flex;
    color: #3B7976;
    margin: 8px 5px 0 0;
}

.desc {
    color: #061817;
    margin: 8px 16px 16px;
    height: 104px;
}