.mainPage {
    background-color: #FCFCFC;
    max-width: 1440px;
}

.mainPage_flex {
    display: flex;
    justify-content: center;
}

.mainTitle {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.mainTitle h1 {
    font-size: 36px;
    line-height: 42px;
    color: #254F4C;
    margin-top: 128px;
}

.mainTitle p {
    font-size: 16px;
    line-height: 24px;
    color: #1D3130;
    margin: 16px 0;
}

.mainTitle button {
    width: 216px;
    height: 49px;
    background-color: #FF583E;
    border-radius: 100px;
    border: none;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.mainTitle img {
    margin-left: 7px;
}

.active {
    color: #FF583E;
}
