.add_reviews {
    width: 500px;
    margin: 0 auto;
}

.add_reviews h1 {
    text-align: center;
    font-size: 28px;
    line-height: 31px;
    margin: 10px 0;
    color: #254F4C;
}

.form_reviews div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_reviews input, textarea {
    width: 100%;
    margin: 10px 0;
    border: 1px solid #9FA2B4;
}

.form_reviews label {
    font-size: 18px;
    line-height: 21px;
    color: #1D3130;
}

.form_reviews button {
    width: 200px;
    height: 48px;
    border: none;
    background-color: #9FA2B4;
    color: #061817;
    border-radius: 40px;
    margin: 10px 0;
    font-size: 16px;

}
