.admin {
    max-width: 1440px;
    height: 1200px;
}

.side_bar {
    width: 255px;
    height: 1200px;
    background-color: #363740;
}

.navigation {
    height: 610px;
}

.side_bar_logo {
    display: flex;
}

.side_bar_logo img:first-child {
    margin-right: 12px;
    margin-left: 32px;
}

.side_bar_logo img {
    margin-top: 37px;
    margin-bottom: 59px;
}

.navigation_bar ul li {
    padding: 18px 0;
    background-color: #363740;
}

.navigation_bar img{
    margin-right: 24px;
    margin-left: 32px;
}

.nav_hover:hover {
    background-color: #6f7181;
}
