.feedBack {
    margin-top: 56px;
}

.feedBackFlex {
    display: flex;
    justify-content: center;
}

.feedBackBox {
    width: 248px;
    height: 325px;
    border: 2px solid #1D3130;
    border-radius: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    color: #3B7976;
    margin: 49px 34px 88px 0;
}

img.absolute {
    position: absolute;
    top: -2px;
    left: -10px;
}

.avatar {
    margin: 24px 0 8px;
    width: 100px;
    height: 100px;
}

.feedBackUser {
    display: flex;
    color: #3B7976;
    margin: 8px 5px 0 0;
}

.desc {
    color: #061817;
    margin: 8px 16px 16px;
    height: 104px;
}