.products {
    display: flex;
    justify-content: flex-start;
    padding: 56px 0 20px;
}

.products ul li {
    list-style: none;
    display: inline;
    margin-right: 16px;
}


.active {
    color: #FF583E;
}
