.header {
    background-color: #b3b3b314;
    padding: 24px 0 16px;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
}

.header ul li {
    list-style: none;
    display: inline;
    margin-left: 60px;
}

.header a {
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    color: #1D3130;
}

.header img {
    margin-right: 8px;
    margin-left: 4px;
}

ul li a:hover,
ul li a.active {
    color: #FF583E;
}