.about {
    margin-top: 20px;
}

.aboutFlex {
    margin-top: 42px;
    display: flex;
    justify-content: center;
}

.aboutBox {
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #254F4C;
}

.aboutBox h3 {
    margin: 16px 0 8px;
    font-size: 20px;
    line-height: 23px;
}

.aboutBox p {
    margin: 0 16px;
    font-size: 14px;
    line-height: 16px;
    color: #1D3130;
}
