.footer {
    max-width: 1440px;
    background-color: #254F4C;
    padding: 56px 0;
    display: flex;
    justify-content: center;
    position: -ms-device-fixed;
    bottom: 0;
}

.footer a {
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    color: #1D3130;
}

.footer ul li {
    list-style: none;
    display: inline;
    margin-left: 60px;
    margin-right: 16px;
}

.footer a {
    color: #fff;
}

.footer img {
    margin-right: 8px;
}

ul li a:hover,
ul li a.active {
    color: #FF583E;
}