.reviews {
    max-width: 1000px;
    margin: 0 auto;
}

.reviews h2 {
    font-size: 25px;
    line-height: 29px;
    color: #1D3130;
    margin: 15px 0;
}

.reviews table {
    width: 100%;
    border: 1px solid #C4C4C4;
    text-align: center;
    margin: 10px 0 20px;
}

.reviews th {
    font-size: 20px;
    line-height: 23px;
    color: #2B4241;
}

.reviews img {
    width: 80px;
    height: 80px;
    vertical-align: center;
}

.reviews_title {
    display: flex;
    justify-content: space-between;
}

.reviews button {
    width: 120px;
    height: 28px;
    background-color: #C4C4C4;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin: 8px 0;
    color: #061817;
    font-size: 14px;
    padding: 5px 10px;
}

.reviews_title button {
    width: 200px;
    height: 48px;
    background-color: #2B4241;
    border-radius: 40px;
    border: none;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    margin: 15px 0;
    vertical-align: middle;
}