@font-face {
    font-family: "Roboto";
    src: url("media/fonts/Roboto/Roboto-Bold.ttf");
    src: url("media/fonts/Roboto/Roboto-Light.ttf");
    src: url("media/fonts/Roboto/Roboto-Medium.ttf");
    src: url("media/fonts/Roboto/Roboto-Regular.ttf");
}

body {
    font-family: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    font-size: 25px;
    line-height: 29px;
    color: #254F4C;
    margin-left: 110px;
    margin-right: 164px;
}

h3 {
    font-size: 20px;
    line-height: 23px;
}